@use 'sass:map';

$space: get-spacing();

*, *:before, *:after {
	box-sizing: border-box;
}

.edit-link {
	display: none;
}

main {
    max-width: 1600px;
	min-height: 50vh;
    margin: 0 auto;
    background-color: color('white');
}

.page-template-default .entry-header,
.home .section > h2 {
	@extend %screen-reader-text;
}

.error404,
.page-template-template-base-page {
	.page-title {
		font-size: map.get($font-sizes, h1);
		@include acumin;
	}
	.entry-header {
		padding-left: get-spacing();
		padding-right: get-spacing();
		font-size: map.get($font-sizes, h1);
		@include acumin;
		.entry-title {
			@include acumin;
	}
}
}

.section.engage-amplify {
	padding-bottom: get-spacing();
}

.schedule-screening__intro {
	@include acumin;
	font-size: map.get($font-sizes, h4);
	font-weight: 400;
}

.section.demand-change {
	.section.support {
		.wp-block-cover {
			padding-top: 30rem;
			.content {
				padding: 0.5 * $space;
				background-color: rgba( color( 'black' ), 0.8);
				margin-bottom: 0.5 * $space;
				color:  color( 'white' );
			}
		}
	}
}

.section {
	> .learn-more__content,
	> .donate-touts,
	> p,
	> h3,
	> h4,
	> .lede {
		padding-left: get-spacing(0.5);
		padding-right: get-spacing(0.5);
		@media ( min-width: bp(sm) ) {
			padding-left: get-spacing();
			padding-right: get-spacing();
		}
	}
}

.svg-sprite-wrapper {
	position: fixed;
	top: 0;
	left: -100vw;
}


.lax {
	@media ( min-width: bp(sm) ) {
		min-height: 550px;
	}
}

.actions-count,
.supported-by,
.collaboration-with {
	.logos {
		.wp-block-image {
			a {
				aspect-ratio: 1/1;
				display:block;
				position: relative;
				padding: 0.5rem;
				&:hover,
				&:focus {
					border: 1px color(green) solid;
				}

				img {
					display: block;
					position: relative;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}

.actions-count {
	.content {
		.wp-block-group {
			> .wp-block-group {
				&:hover,
				&:focus {
					background-color: #fafafa;
					img {
						border: 4px color(green) solid;
					}
				}
			}
		}
	}
}


.page-template-template-base-page,
.error404,
.privacy-policy {
	.error-404 {
		padding-top: get-spacing();
	}
	.error-404,
	.entry-content {
		padding-left: get-spacing();
		padding-right: get-spacing();
		h1,
		h2,
		h3 {
			margin-top: 0;
		}
		h2 {
			font-size: map.get($font-sizes, h4) !important;
		}
		p {
			margin-bottom: get-spacing();
		}
	}
}
