@use 'sass:map';

*, *:before, *:after {
	box-sizing: border-box;
}

%grid-three {

	grid-column-gap:  spacing(sm);
	grid-row-gap:  spacing(sm);

	@media ( min-width: bp(xs) ) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap:  spacing(md);
		grid-row-gap:  spacing(md);
	}

	@media ( min-width: bp(sm) ) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	> a.wp-block-hyperlink-group {
		display: block;
	}
}

body {
	background-color: color('grey-dark');
}

main {
	max-width: 1512px;
	margin: 0 auto;
	background-color: color('green-dark');
}

.site-branding,
article.page {
	background-color: color('green-dark');
}

.hero {

	position: relative;
	flex-wrap: no-wrap;

	.wp-block-gallery {
		max-width: 100%;
		position: relative;
		left: 50%;
		transform: translate3d(-50%, 0, 0) !important;
		margin-left: 0;
		margin-right: 0;
		flex-wrap: nowrap;
	}

	p {
		text-align: center;
		color: color(green-light);
		&:first-of-type {
			font-size: fs(h5);
		}
	}
}

.is-layout-constrained {
	max-width: bp(lg);
	margin: 0 auto;
	padding: spacing(md);
	padding-top: spacing(xs);
	@media (min-width: bp(md)) {
		padding-top: 0;
		padding-bottom: spacing(md);
		padding-left: 0;
		padding-right: 0;
	}
}

section p {
	padding-left: spacing(xs);
	padding-right: spacing(xs);
	@media (min-width: bp(md)) {
		padding-left: 0;
		padding-right: 0;
	}
}

.wp-block-column {
	margin-top: spacing(md);

}

#campaign-goals {

	background-color: color(grey-dark);
	margin: 0;

	> .wp-block-columns {
		padding: spacing(sm);
		margin: 0;
	}

	.wp-block-tiptip-hyperlink-group-block {

		text-decoration: none;

		h3 {
			font-size: fs(h5);
			margin-top: 0;
		}
		p {
			font-size: fs(body);
			font-weight: normal;
		}
	}

	@media (min-width: bp(md)) {

		> .wp-block-columns {
			padding: spacing(md);
		}

		.wp-block-tiptip-hyperlink-group-block {
			h3 {
				font-size: fs(h4);
			}
			p {

			}
		}
	}

}

#amplify,
#drive,
#support {
	color: color(white);

	> .is-layout-constrained {
		padding-top: spacing(md);
	}
}

#social {
	padding-bottom: spacing(md);
	> p {
		margin-top: 2rem;
		margin-bottom: 3rem;
	}
}

#support,
#drive {
	padding: 0;
	color: color(grey-dark);
	.content {
		margin: spacing(sm);
		padding: spacing(md);
		background-color: rgba( #fff, 0.8) !important;
		backdrop-filter: blur(spacing(xs));

		@media (min-width: bp(md)) {
			margin: spacing(lg) auto;
			padding: spacing(lg);
		}
	}
}

#support {
	.content {
		padding-bottom: 0;
		margin-bottom: 0;
		section,
		.yikes-mailchimp-container,
		.yikes-easy-mc-form {
			padding-bottom: 0;
			margin-bottom: 0;
		}

	}
}


.svg-sprite-wrapper {
    overflow: hidden;
    position: relative;
    display: inline-block;

    a,
    div,
    svg {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.entry-content {
	p {
		line-height: 165%;
	}
}

.wp-block-column ul {
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom: 2px color(grey-mid) solid;

	li {
		padding: 0.75rem 0;
		border-top: 1px color(grey-mid) solid;
	}
}
