@use 'sass:map';
$space: get-spacing();


main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: color('white');
}

.wp-block-cover__inner-container {
    box-sizing: border-box;
}

.entry-content > .section:not(.learn-more-message) > h2 {
    text-transform: uppercase;
	font-size: map.get($font-sizes, h4);
	margin-top: $space * 0.5;
	margin-bottom: $space * 0.5;
	&::before {
		content: '';
		margin-right: $space * .75;
		border-left: ($space * .25) color(green-mid) solid;
	}
}

// page title?
.home .section > h2 {
	@extend %screen-reader-text;
}

.site-header {
    box-sizing: border-box;
}

.entry-header {
    display: none;
    @extend %screen-reader-text;
}

.section.demand-change {
	.section.support {
		.wp-block-cover {
			padding-top: 30rem;
			.content {
				padding: 0.5 * $space;
				background-color: rgba( color( 'black' ), 0.8);
				margin-bottom: 0.5 * $space;
				color:  color( 'white' );
			}
		}
	}
}

.section {
	> p,
	> h3,
	> h4,
	> .lede {
		padding-left: get-spacing();
		padding-right: get-spacing();
	}
}
