@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: hauslan;
    src: url('../fonts/hauslan.woff2') format('woff2'),
        url('../fonts/hauslan.woff') format('woff');
	font-display: swap;
}

$font-sizes: (
	'body': 1rem,
	'h5': 1.25rem,
	'h4': 1.563rem,
	'h3': 1.953rem,
	'h2': 2.441rem,
	'h1': 5.96rem,
);

@function fs($key) {
    @return map.get($font-sizes, $key);
}


$body-font: 'Source Sans Pro', sans-serif;

html,
body {
	padding: 0;
	margin: 0;
    font-family: $body-font, sans-serif;
	font-size: map.get($font-sizes, body);
}

%h1,
h1,
%h2,
h2,
%h3,
h3,
h4,
h5 {
    font-family: hauslan, sans-serif;
    text-transform: uppercase;
	line-height: 1.2;
}

h1 {
	font-size: map.get($font-sizes, h1);
	color: color(white);
	margin-bottom: 1rem;
}

h2 {
	font-size: map.get($font-sizes, h2);
	color: color(green-mid);
}

h3 {
	font-size: map.get($font-sizes, h3);
}

@mixin h2 {
	font-size: map.get($font-sizes, h2);
    font-family: hauslan, sans-serif;
    text-transform: uppercase;
	line-height: 1.2;
}

@mixin h3 {
	font-size: map.get($font-sizes, h3);
	font-family: hauslan, sans-serif;
    text-transform: uppercase;
	line-height: 1.2;
}

@mixin h4 {
	font-size: map.get($font-sizes, h4);
    font-family: hauslan, sans-serif;
    text-transform: uppercase;
	line-height: 1.2;
}


@mixin h5 {
	font-size: map.get($font-sizes, h5);
    font-family: hauslan, sans-serif;
    text-transform: uppercase;
	line-height: 1.2;
}

.entry-content > .section:not(.learn-more-message) > h2 {
    text-transform: uppercase;
	font-size: map.get($font-sizes, h3);
	margin-top: spacing(md);
	margin-bottom: spacing(md);
	@media ( min-width: bp(sm) ) {
		font-size: map.get($font-sizes, h2);
		margin-top: spacing(md);
		margin-bottom: spacing(md);
	}
	&::before {
		content: '';
		margin-right: spacing(md);
	}
}

.section > h3 {
	color: color(green-mid);
	margin-top: spacing(md);
}

.lede {
	font-size: map.get($font-sizes, lede);
	max-width: 60em;
}
