.section.actions-count {
	h3 {
		margin-top: 0;
	}
 	.grid-four {
		padding-top: get-spacing(0.5);
	}
	.content {
		position: relative;
		background-color: color('white');
		top: -8rem;
		margin: 0 get-spacing();
		margin-bottom: -8rem;
		padding: get-spacing();
	}
}
