.attachment-template-default .site-title {
	margin-bottom: spacing(md);
}

.social-card__page {
	max-width: bp(lg);
	margin: 0 auto;
	color: white;


	.backlink {
		display: block;
		color: white;
		position: relative;
		left: -1.5rem;
		font-weight: bold;
		text-decoration: none;
		transition-property: left;
		transition-duration: 0.2s;
		transition-timing-function: ease-out;
		&::before {
			content: '←';
			margin-right: 0.5rem;
			display: inline-block;
			transition-property: margin-right;
			transition-duration: 0.2s;
			transition-timing-function: ease-out;
		}
		&:hover {
			left: -2rem;
			text-decoration: underline;
			&::before {
				margin-right: 1rem;
			}
		}
	}

	.entry-title {
		color: white;
		font-size: fs(h5);
	}

	.post-image {
		margin-bottom: 0;

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.entry-header {
		margin: 0 spacing(md);
	}

	.container {
		margin: 0 spacing(md);
		.content {
			padding: spacing(sm);
			background-color: color(grey-dark);
			color: white;
		}
	}

	.share-block {
		h3 {
			display: inline-block;
			margin-bottom: 0;
			font-size: fs(h5);
		}

		.share-actions {
			position: relative;
			left: 0;
			display: inline-block;
			margin-left: spacing(sm);
			transition-property: left;
			transition-duration: 0.175s;
			transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);

			.wp-block-outermost-social-sharing {
				list-style: none;
				box-sizing: border-box;
				display: inline-block;
				justify-content: space-between;
				background-color: color('white');
				padding:  spacing(sm);
				border-radius: 0.25rem;
				li {
					display: inline-block;
					a {
						svg {
							width: 1.5rem;
							height: 1.5rem;
						}

						&:hover {
							svg {
								path {
									fill: color(green-mid);
								}
							}
							opacity: 70%;
						}

					}
				}
			}
		}
		&:hover .share-actions {
			left: 0.5rem;
		}
	}
}
