.defenders {
	padding-bottom: 0;
}

.wp-block-site-functionality-defender {

	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: spacing(sm);

	@media screen and (min-width: bp(sm)) {
		padding: spacing(md);
	}

	&::after {
		content: '';
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.35);
	}

	> .wp-block-group {
		display: flex;
		justify-content: center; //flex-start;
		max-width: bp(xl);
		margin: 0 auto;
		z-index: 10;
	}

	.wp-social-link {
		span {
			color: color(grey-dark);
		}
		svg path {
			fill: color(grey-dark);
		}
	}

	.row {
		width: 100%;
		display: grid;

		@media screen and (min-width: bp(md)) {

			flex-direction: row;
			display: flex;
			padding: spacing(md);
		}
	}

	.defender__profile {
		z-index: 10;
		box-sizing: border-box;
		background-color: color('white');
		color: color(grey-dark);
		grid-row: 1;
		padding: spacing(sm);
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;

		figure {
			max-width: 200px;
		}
		img {
			display: block;
		}

		@media screen and (min-width: bp(sm)) {
			flex-direction: row;
			figure {
				min-width: 12rem;
				max-width: auto;
			}
		}
		@media screen and (min-width: bp(md)) {

			flex-direction: column;
			width: 300px;
			padding: spacing(md);
			flex-wrap: wrap;
			max-width: none;

			figure {
				width: 100%;
				margin-bottom: 0.5rem;
			}
		}
	}

}

.defender__forest {
	z-index: 10;
	background-color: color('grey-dark');
	color: color('white');
	grid-row: 2;
	padding: spacing(sm);
	align-self: flex-start;

	.wp-social-link {
		span {
			color: color(white);
		}
		svg path {
			fill: color(white);
		}
	}

	figure {
		display: block;
		width: 100%;
		margin-bottom: 0.5rem;
		img {
			display: block;
			width: 100%;
		}
	}

	@media (min-width: bp(md)) {
		padding: spacing(md);
		max-width: 37.475rem;
	}

}
