@use 'sass:map';

.demand-change__content {
	position: relative;
	background-color: color('black');
	color: color('white');
	top: -8rem;
	margin: 0 get-spacing();
	margin-bottom: -8rem;
	padding: get-spacing();

	.ptag {
		@extend h4;
		text-transform: uppercase;
		margin-top: 0;
	}

	.wp-block-button {
		margin: 2rem auto 0 auto;
	}

	.wp-block-button__link {
		@extend %button-green;
	}
}

.demand-change__content + .post-amble {
	padding: get-spacing();
	padding-top: get-spacing(0.5);
}
