
.demand-change__content {
	position: relative;
	background-color: color('black');
	color: color('white');
	top: -8rem;
	margin: 0 get-spacing();
	margin-bottom: -8rem;
	padding: get-spacing();

	.wp-block-button {
		margin: 2rem auto 0 auto;
	}

	.wp-block-button__link {
		@extend %green-button;
	}
}

.demand-change__content + .post-amble {
	padding: get-spacing();
	padding-top: get-spacing(0.5);
}
