.donate-touts {
	display: grid;
	grid-template-columns: 1fr;

	row-gap: get-spacing(0.5);
	column-gap: get-spacing(0.5);

	@media ( min-width: bp(sm) ) {
		grid-template-columns: 1fr 1fr !important;
		row-gap: get-spacing();
		column-gap: get-spacing();
	}


}
