.laurels {
	margin: get-spacing(0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	figure.wp-block-image {
		width: auto;
		// flex: 0 0 calc(30.3333%);
		margin: get-spacing(0.25);
		height: 84px;
		img {
			display: block;
			margin: 0 auto;
			object-fit: scale-down;
			height: 84px;
			width: auto;
			max-height: 84px;
		}
	}


	@media ( min-width: bp(sm) ) {
		margin: get-spacing(0.5);
	}

	@media ( min-width: bp(lg) ) {
		margin: get-spacing();
	}
}
