.laurels {
	margin: spacing(md);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	figure.wp-block-image {
		width: auto;
		margin: spacing(md);
		height: 84px;
		img {
			display: block;
			margin: 0 auto;
			object-fit: scale-down;
			height: 84px;
			width: auto;
			max-height: 84px;
		}
	}


	@media ( min-width: bp(sm) ) {
		margin:  spacing(md);
	}

	@media ( min-width: bp(lg) ) {
		margin:  spacing(md);
	}
}
