$spacing: get-spacing();

.learn-more-message {
	margin-top: 0;
	margin-bottom: 0;
	> h2 {
		font-family: acumin-extra-condensed--bold, sans-serif;
		color: color('white');
		margin-top: 0;
		margin-bottom: 0;
	}
}
