#support {
	p {
		margin-top: 0 !important;
	}
}

.yikes-mailchimp-container {

	label span {
		display: inline-block;
		background-color: transparent;
		color: color('black');
		font-family: hauslan, sans-serif;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding: 0.25rem 0.5rem;
		font-size: 16px;
	}

	form {
		.EMAIL-label,
		.COUNTRY-label {
			display: inline-block;
			width:46%;
			box-sizing: border-box;
		}
	}
	.yikes-easy-mc-form input[type="email"],
	.yikes-easy-mc-form select {
		display: inline-block;
	}

	input {
		display: inline-block;
	}
}
