.newsletter-subscribe {
	display: grid;
	background-color: color(green-dark);
	color: color('white');
	padding: get-spacing();

	@media ( min-width: bp(xs) ) {
		grid-template-columns: 1fr 1fr;
	}

	.wp-block-group {

		h2 {
			margin-top: 0;
		}
	}

	.newsletter__content {
		padding-right: get-spacing(0.25);
	}
}
