.header-notice {
	background-color: color('green-dark');
	height: 3rem;
	h2 {
		height: 100%;
		vertical-align: middle;
		letter-spacing: 1px;
		text-align: center;
		margin: 0;
		font-size: 16px;
		font-family: $body-font;
		text-transform: unset;
		padding-top: 0.275rem;
		line-height: 1.75;
		@media ( min-width: bp(xs) ) {
		}
	}
	a {
		text-decoration: none;
		display: block;
		height: 100%;
		color: white;
		vertical-align: middle;
		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}
}
