.header-notice {
	background-color: color('black');
	padding-top: 4rem;
	padding-bottom: 2rem;
	text-align: center;

	h2 {
		vertical-align: middle;
		letter-spacing: 1px;
		text-align: center;
		margin: 0;
		font-size: 16px;
		font-family: $body-font;
		text-transform: unset;
		padding-top: 0.275rem;
		line-height: 1.75;
	}

	a {
		text-decoration: none;
		display: block;
		height: 100%;
		color: white;
		vertical-align: middle;
		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}
}
