@use 'sass:map';

@mixin page__nav--small {
	z-index: 250;
	width: 100%;
	padding: 0;
	gap: 0;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);

	.wp-block-buttons {
		display: flex;
		width: 100%;
	}

}

.page-nav {

	// background-color: color(grey-dark);
	@include page__nav--small;


	.wp-block-column {
		margin-top: spacing(md);

	}

	.wp-block-tiptip-hyperlink-group-block {

		text-decoration: none;

		h3 {
			font-size: fs(h5);
			margin-top: 0;
		}
		p {
			font-size: fs(body);
			font-weight: normal;
		}

		@media (min-width: bp(md)) {
			h3 {
				font-size: fs(h4);
			}
			p {

			}
		}
	}

	.out-of-view > & {

		.wp-block-tiptip-hyperlink-group-block {
			padding: 0;
		}

		.page-nav-container {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			z-index: 1000;
			display: flex;
			justify-content: center;
			max-width: none;
			background-color: color('grey-dark');
			box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.3);

			.wp-block-column,
			a {
				max-width: 400px;
				border-radius: 0 !important;
				padding: 0;
				background-color: transparent;
			}
		}

		h3 {
			font-size: fs(h5);
			margin: 0;
		}
		p {
			position: fixed;
			width: 0;
			height: 0;
			overflow: hidden;
			left: 100vw;
			height: 100vw;
			opacity: 0;
		}

		&.active {
			background-color: color('white');
			color: color(grey-dark);
			p {
				position: fixed;
				top: 100vh;
				left: 100vw;
				width: 0;
				height: 0;
				overflow: hidden;
			}
		}

		@media (min-width: bp(md)) {
			h3 {

			}
			p {

			}
		}
	}
}
