@use 'sass:map';

.post-list.reviews,
.post-list.news {

	> .wp-block-getwid-post-carousel {
		padding: get-spacing(0.5);
		background-color: color(grey-light);
		@media ( min-width: bp(md) ) {
			padding: get-spacing();
		}
	}

	.wp-block-getwid-post-carousel__post-thumbnail {
		padding-top: 0;
		> a {
			position: static;
		}
		img.size-post-thumbnail {
			display: block;
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}

	.slick-slide {
		&:hover,
		&:focus {
			a {
				text-decoration: underline;
			}
		}
		.review,
		.press {
			.post-title {
				margin: 0;
				@include acumin;
				a {
					color: color('black');
					text-decoration: none;
					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}

			}
		}
	}

	.slick-arrow {
		width: get-spacing();
		height: get-spacing();
		background-color: color(grey-dark);
		border-radius: 50%;
		color: color('white');
		&::before {
			content: '»';
			@include acumin;
			font-size: map.get($font-sizes, h4);
			width: get-spacing(0.75);
			height: get-spacing(0.75);
			color: color('white');
			position: relative;
			left: get-spacing(0.125);
		}
		&.slick-disabled {
			display: none !important;
		}
		&.slick-next {
			left: auto;
			right: get-spacing(-1);
			&::before {
				left: get-spacing(-0.125);
			}
		}
		&.slick-prev {
			left: get-spacing(-0.875);
			&::before {
				content: '«';
			}
		}

		@media ( min-width: bp(sm) ) {
			width: get-spacing(1.5);
			height: get-spacing(1.5);
			&::before {
				font-size: map.get($font-sizes, h2);
				width: get-spacing(1.5);
				height: get-spacing(1.5);
				left: get-spacing(-1);
			}

			&.slick-prev {
				left: get-spacing(-1.25);
				&::before {
					left: get-spacing(0.25);
				}
			}

			&.slick-next {
				right: get-spacing(-1.25);
				&::before {
					left: get-spacing(-0.25);
				}
			}
		}

		@media ( min-width: bp(md) ) {
			&::before {
				font-size: map.get($font-sizes, huge);
				width: get-spacing(3);
				height: get-spacing(3);
			}
			&.slick-next {
				right: get-spacing(-1.65);
				&::before {
					left: get-spacing(-0.25);
				}
			}
			&.slick-prev {
				left: get-spacing(-1.625);
				&::before {
					left: get-spacing(0.25);
				}
			}
		}
	}
}
