@use 'sass:map';

.wp-block-getwid-post-carousel {
	padding: get-spacing(0.5);
	padding-left: get-spacing();
	padding-right: get-spacing();
	background-color: color(grey-light);
}

.post-list.reviews,
.post-list.news {
	.slick-slide {
		&:hover,
		&:focus {
			a {
				text-decoration: underline;
			}
		}
		.review,
		.press {
			.post-title {
				margin: 0;
				@include acumin;
				a {
					color: color('black');
					text-decoration: none;
					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}

			}
		}
	}

	.slick-arrow {
		width: get-spacing(3);
		height: get-spacing(3);
		background-color: color(grey-dark);
		border-radius: 50%;
		color: color('white');
		&::before {
			content: '»';
			@include acumin;
			font-size: map.get($font-sizes, huge);
			width: get-spacing(1.5);
			height: get-spacing(1.5);
			color: color('white');
			position: relative;
			left: get-spacing(-0.5);
		}
		&.slick-disabled {
			display: none !important;
		}
		&.slick-next {
			right: get-spacing(-1.5);
		}
		&.slick-prev {
			left: get-spacing(-1.5);
			&::before {
				content: '«';
				left: get-spacing(0.5);
			}
		}

		@media ( min-width: bp(md) ) {
			&::before {
				content: '»';
				@include acumin;
				font-size: map.get($font-sizes, huge);
				width: get-spacing(3);
				height: get-spacing(3);
				color: color('white');
				position: relative;
				left: get-spacing(-0.5);

			}
			&.slick-next {
				right: get-spacing(-1.5);
			}
			&.slick-prev {
				left: get-spacing(-1.5);
				&::before {
					content: '«';
					left: get-spacing(0.5);
				}
			}
		}
	}
}
