section {

	.heading-wrapper {

		background-color: color('black');

		h2 {

			color: color('white');
			text-align: center;
			width: 100%;
			margin: 0;
			padding: spacing(md);
			font-size: fs(h4);

			@media (min-width: bp(md)) {
				font-size: fs(h2);
				max-width: bp(md);
				margin: 0 auto;
				padding: spacing(lg) 0 spacing(md) 0;
			}
		}
	}
}
