@use '../environment/colors';
@use '../environment/dimensions';

.site-header    {

    box-sizing: border-box;
    position: relative;

    .nav--primary {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        z-index: 10;
        padding-left: dimensions.get-spacing();
        padding-right: dimensions.get-spacing();
        box-sizing: border-box;

		.navigation-menu {
			margin: 0;
			padding: 0;
			li:not(:first-child) {
				margin-left: 2rem;
			}
			.menu-item {
				display: inline-block;
				a {
					position: relative;
					display: block;
					font-family: acumin-extra-condensed--bold, sans-serif;
					text-transform: uppercase;
					color: colors.color('white');
					padding: 3.5rem 0 0.5rem 0;
					font-size: 1.5rem;
					text-decoration: none;
					&::after {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						width: 0;
						border-bottom: 0.25rem colors.color('white') solid;
						transition-duration: 0.25s;
						transition-timing-function: ease-out;
						transition-property: width;
					}
					&:focus::after,
					&:hover::after {
						width: 100%;
					}
				}
				&.current_page_item {
					a {
						&::after {
							width: 100%;
						}

					}
				}
			}
		}
    }

	.wp-block-cover__inner-container {
		position: absolute;
		bottom: 0;
	}

    .home & {
        .header-content-title {
            text-transform: uppercase;
        }
        .header-content {
            padding-left: $space;
            padding-right: $space;
            p {
                color: colors.color('green');
                font-size: 24px;
            }
        }

    }

    .page-take-action & {
        .nav--primary {
            .main-navigation {
                .menu {
                    .menu-item {
                        a {
                            color: colors.color('black');
                            &::after {
                                border-color: colors.color('black');
                            }
                        }
                    }
                }
            }
        }
    }

    .home &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        height: 10rem;
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 255) 80% );
    }
}
