@use 'sass:map';

.site-header {
    position: relative;


	.navigation-menu {
		display: none;
	}
	.header-content {

	}

	.page-template-template-base-page &,
	.privacy-policy &,
	.error404 &,
	.single-social & {
		background-color: color(green-dark);
		min-height: 100px;
	}

}
