.site-footer {

	background-color: color('black');
	padding: spacing(xs);

	figure {
		max-width: 250px;
	}


	@media (min-width: bp(sm)) {
		padding: spacing(md) 0;
		figure {
			max-width: auto;
		}
	}

	@media (min-width: bp(md)) {
		padding: spacing(lg) 0;
	}

	footer > .row {
		margin-bottom: 2rem;
	}

	.footer__logos {
		text-align: right;
		.wp-block-image {
			display: inline-block;
		}
	}

	h3 {
		margin-top: 0;
	}

	p {
		font-size: 0.875rem;
		color: color(grey-mid);
		font-weight: lighter;
	}

	.wp-block-columns {
		margin-bottom: 0;
	}

	.footer__content {
	}
}
