.single-social {

	.section {
		padding-left: spacing(md);
		padding-right: spacing(md);
		margin-bottom: spacing(lg);

		> p {
			padding-left: 0;
			padding-right: 0;
		}
		.social-image-grid {
			margin-top: spacing(md);
			margin-bottom: spacing(md);
			@extend %grid-four;
		}
	}
}
