.wp-block-site-functionality-social-cards {
	@extend %grid-three;

	padding-left: spacing(md);
	padding-right: spacing(md);
	@media ( min-width: bp(sm) ) {
		padding-left: spacing(md);
		padding-right: spacing(md);
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}
