.grid-three {
	@extend %grid-three;
}

%share-actions {

	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	max-height: 100%;
	height: 100%;
	overflow: hidden;

	.share-actions-rel-wrapper {
		position: relative;
	}

	.wp-block-outermost-social-sharing {
		position: absolute;
		bottom: -12rem;
		z-index:100;
		left: 50%;
		transform: translate(-50%, -50%);
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		background-color: color('white');
		padding:  spacing(sm);
		border-radius: 0.25rem;
		transition-property: bottom;
		transition-duration: 0.325s;
		transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
		width: 80%;

		svg {
			width: 1.5rem;
			height: 1.5rem;
		}

		@media ( min-width: bp(md) ) {
			svg {
				width: 2rem;
				height: 2rem;
			}
		}
	}
}

#social {

	> .wp-block-group {

		padding-left: spacing(xs);
		padding-right: spacing(xs);

		@media ( min-width: bp(sm) ) {

			padding-left: spacing(md);
			padding-right: spacing(md);
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		.social-post {

			max-width: 100%;
			width: 100%;
			height: 100%;
			position: relative;
			aspect-ratio: 1/1;
			background-color: color('black');
			cursor: pointer;
			margin-bottom: spacing(sm);

			@media ( min-width: bp(sm) ) {
				margin-bottom: 0;
			}

			.image-group {
				aspect-ratio: 1/1;
				width: 100%;
				height: 100%;
				img {
					aspect-ratio: 1/1;
					width: 100%;
					height: auto;
				}
			}

			.share-actions {
				@extend %share-actions;
			}

			&:hover,
			&:focus {
				.share-actions {
					.wp-block-outermost-social-sharing {
						bottom: -1.25rem;
					}
				}
			}
		}
	}
}

