.wp-block-site-functionality-social-cards {
	@extend %grid-three;

	padding-left: get-spacing(0.5);
	padding-right: get-spacing(0.5);
	@media ( min-width: bp(sm) ) {
		padding-left: get-spacing();
		padding-right: get-spacing();
	}
	ul {
		list-style: none;
		padding: 0;
	}

	.slick-list {
		img {
			width: 100%;
			height: auto;
		}
	}

	.social-post {
		overflow: hidden;
		max-width: 100%;
		position: relative;
		height: 100%;
		aspect-ratio: 1/1;

		.image-group {
			.slick-arrow {
				z-index: 10;
				position: absolute;
				top: 50%;

				&.slick-next {
					right: 1rem;
				}

				&.slick-prev {
					left: 1rem;
				}
			}
		}

		&.has-multiple-images {
			&::before {
				content: '';
				position: absolute;
				z-index: 10;
				top: 1.5rem;
				right: 0.5rem;
				width: 2rem;
				height: 2rem;
				background-size: contain;
				background-image: url('../images/icons/stack.svg');
				background-repeat: no-repeat;
			}
		}

		.wp-block-outermost-social-sharing {
			position: absolute;
			top: 150%;
			left: 50%;
			display: flex;
			justify-content: space-between;
			background-color: color('white');
			padding: get-spacing(0.25);
			border-radius: get-spacing(0.25);
			transform: translate(-50%, -50%);
			transition-property: top;
			transition-duration: 0.325s;
			transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);

			li:nth-child(2n) {
				padding-left: get-spacing(0.5);
				padding-right: get-spacing(0.5);
			}

			svg {
				width: 2rem;
				height: 2rem;
			}
		}

		&:hover,
		&:focus {
			.wp-block-outermost-social-sharing {
				top: 90%;
			}
		}
	}
}
