@use 'sass:map';

.testimonial {
	text-align: center;

	.wp-block-cover__inner-container blockquote p {
		@include h4;
		font-style: italic;
	}

	cite {
		@include h5;
		font-style: normal;
		&::before {
			content: '—';
			display: inline-block;
			font-style: normal;
		}
	}

	@media ( min-width: bp(sm) ) {
		.wp-block-cover__inner-container blockquote p {
			@include h3;
		}

		cite {
			font-size: map.get($font-sizes, h4);
			@include h4;
			&::before {
				content: '—';
				display: inline-block;
			}
		}
	}

}
