.trp-language-wrap {
	display: none;
}

.translate_menu {
	position: fixed;
	box-sizing: border-box;
	top: 100vh;
	right: 3rem;
	height: 8rem;
	z-index: 50000;
	padding: 0;
	border-radius: 0.125rem;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.3);

	a {
		display: block;
		color: color('grey-mid');
		font-size: 0.925rem;
		&:hover {
			color: color('white');
		}
	}

	.layout_wrapper {
		position: relative;
		top: 0;
		transition-property: top;
		transition-duration: 250ms;
		transition-timing-function: ease-out;;
	}

	.open-lang-menu {
		box-sizing: border-box;
		display: block;
		position: absolute;
		top: -2.5rem;
		background-color: color('white');
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		width: 3.5rem;
		height: 2.5rem;
		padding: 1rem;
	}

	.translation-list {
		box-sizing: border-box;
		background-color: color('white');
		margin: 0;
		padding: 0;
		padding-top: 0.5rem;
		padding-bottom: 1rem;
		border-top-right-radius: 3px;
		list-style-position: inside;
		// padding-left: 2.5rem;
		display: grid;
		gap: 0;

		li {
			white-space: nowrap;

			&::marker {
				content: '';
			}

			a {
				display: block;
				padding: 0.5rem;
				padding-top: 0.25rem;
				padding-bottom: 0.325rem;
				padding-right: 1rem;
				text-decoration: none;
				&:hover {
					background-color: color('black');
					color: #fff
				}
			}
			&.current {
				a {
					color: color('black');
					font-weight: bold;
					&:hover {
						background-color: color('black');
						color: #fff;
					}
				}
			}
			&.current {
				order: -1;
			}
		}
	}

	svg {
		width: 1.5rem;
		path {
			fill: color('black');
		}
	}

	&.open {
		.layout_wrapper {
			top: -5rem;
		}
	}
}
