//--------------------------------------------------------------
// Global Site Header
//--------------------------------------------------------------
.site-header {

	.site-description {
		@apply no-underline;
	}

	.site-branding {
		display: flex;
		justify-content: center;
		text-align: center;
		a {
			@apply no-underline;
		}
	}
}
