// @layer base {
// // Custom base styles if necessary.
// // See https://tailwindcss.com/docs/adding-base-styles.
// }

//----------------------------------------
// Theme Styles.
//----------------------------------------
@import 'blocks/index';
@import 'blocks/core/index';
@import 'global/index';
@import 'templates/index';
@import 'wordpress-global/index';

@import 'global';

@import 'components/a';

@import 'components/site__header';
@import 'components/defenders';
@import 'components/watch';
@import 'components/section-header';
@import 'components/page__nav';
@import 'components/parallax';
@import 'components/support';
@import 'components/newsletter';
@import 'components/site__footer';
@import 'components/translate_menu';

body {
    background-color: color('grey-dark');
	// main {
	// 	@extend %breakpoint-indicator;
	// }
}


%breakpoint-indicator {
	&::before {
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
		content: '—';
		top: 0;
		right: 0;
		z-index: 1000000;
		padding: 0.25rem 0.5rem;
		background: rgba(0,0,0,0.75);
		color: #fff;
		border-radius: 0 0 0 0.25rem;

		@media (min-width: bp(xs)) {
		  content: 'xs';
		}
		@media (min-width: bp(sm)) {
		  content: 'sm';
		}
		@media (min-width: bp(md)) {
		  content: 'md';
		}
		@media (min-width: bp(lg)) {
		  content: 'lg';
		}
		@media (min-width: bp(xl)) {
		  content: 'xl';
		}
	}
  }
