// @layer base {
// // Custom base styles if necessary.
// // See https://tailwindcss.com/docs/adding-base-styles.
// }

//----------------------------------------
// Theme Styles.
//----------------------------------------
@import 'blocks/index';
@import 'blocks/core/index';
@import 'global/index';
@import 'templates/index';
@import 'wordpress-global/index';

@import 'global';

@import 'components/a';

@import 'components/site__header';

@import 'components/social-grid';
@import 'components/content-attachment';
@import 'components/defenders';
@import 'components/watch';
@import 'components/section-header';
@import 'components/page__nav';
@import 'components/newsletter';
@import 'components/support';
@import 'components/newsletter';
@import 'components/site__footer';
@import 'components/translate_menu';

body {
    background-color: color('grey-dark');
}

.page-trailer {
	.entry-header {
		position: fixed;
		left: 100vw;
		height: 100vw;
		width: 0;
		height: 0;
		overflow: hidden;
	}
}

.share-trailer-container {
	p {
		display: inline-block;
		margin-right: 1.5rem;

		ul.share-trailer {

			margin-top: spacing(sm);
			margin-bottom: spacing(sm);
			display: inline-block;
			position: relative;
			top: 0.25rem;
			border-bottom: 0px transparent solid;

			.wp-social-link {
				margin-left: 0.5rem;
				background-color: color('white') !important;
				border-radius: 50%;
				width: 2rem;
				height: 2rem;
			}

			li{
				display: inline-block;
			}

			.wp-social-link {
				margin: 0;
				padding: 0;
				background-color: color('white') !important;
				border-radius: 50%;
				width: 2.125rem;
				height: 2.125rem;
				line-height:1;
				svg {
					position: relative;
					top: -0.07rem;
					display: inline-block;
					margin: 0 auto;
					line-height:1;
					path {
						fill: black;
					}
				}
			}
		}
	}
}

.backlink {
	display: block;
	color: white;
	position: relative;
	left: -1.5rem;
	font-weight: bold;
	text-decoration: none;
	transition-property: left;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
	&::before {
		content: '←';
		margin-right: 0.5rem;
		display: inline-block;
		transition-property: margin-right;
		transition-duration: 0.2s;
		transition-timing-function: ease-out;
	}
	&:hover {
		left: -2rem;
		text-decoration: underline;
		&::before {
			margin-right: 1rem;
		}
	}
}

%breakpoint-indicator {
	&::before {
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
		content: '—';
		top: 0;
		right: 0;
		z-index: 1000000;
		padding: 0.25rem 0.5rem;
		background: rgba(0,0,0,0.75);
		color: #fff;
		border-radius: 0 0 0 0.25rem;

		@media (min-width: bp(xs)) {
		  content: 'xs';
		}
		@media (min-width: bp(sm)) {
		  content: 'sm';
		}
		@media (min-width: bp(md)) {
		  content: 'md';
		}
		@media (min-width: bp(lg)) {
		  content: 'lg';
		}
		@media (min-width: bp(xl)) {
		  content: 'xl';
		}
	}
  }
