// @layer base {
// // Custom base styles if necessary.
// // See https://tailwindcss.com/docs/adding-base-styles.
// }

//----------------------------------------
// Theme Styles.
//----------------------------------------
@import 'blocks/index';
@import 'blocks/core/index';
@import 'global/index';
@import 'templates/index';
@import 'wordpress-global/index';

@import 'global';

@import 'components/a';
@import 'components/actions-count';
@import 'components/campaigns';
@import 'components/our-goals';
@import 'components/demand-change';
@import 'components/donate-touts';
@import 'components/impact-screening';
@import 'components/laurels';
@import 'components/learn-more';
@import 'components/newsletter';
@import 'components/notice';
@import 'components/page__nav';
@import 'components/parallax';
@import 'components/press__news';
@import 'components/site__header';
@import 'components/testimonial';
@import './components/tout';

body {
    background-color: color('grey-dark');
}


%breakpoint-indicator {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	content: '—';
	top: 0;
	right: 0;
	z-index: 1000000;
	padding: 0.25rem 0.5rem;
	background: rgba(0,0,0,0.75);
	color: #fff;
	border-radius: 0 0 0 0.25rem;

	@media (min-width: bp(xs)) {
	  content: 'xs';
	}
	@media (min-width: bp(sm)) {
	  content: 'sm';
	}
	@media (min-width: bp(md)) {
	  content: 'md';
	}
	@media (min-width: bp(lg)) {
	  content: 'lg';
	}
	@media (min-width: bp(xl)) {
	  content: 'xl';
	}
  }

body {
	&::before {
		@extend %breakpoint-indicator;
	}
}
